.selectBlock {
    max-width: 80%;
    min-width: 31.75%;
    margin-right: 0.5rem;
}

.selectBlock option {
    max-width: 80%;
}

.table {
    text-align: center;
}

.table td {
    vertical-align: middle;
}
#table-scroll {
    height:350px;
    overflow-y: auto;
    overflow-x: auto;
}