.selectBlock {
    max-width: 80%;
    min-width: 31.75%;
    margin-right: 0.5rem;
}

.selectBlock option {
    max-width: 80%;
}

.table {
    text-align: center;
    border: 2px solid white !important;
}

.table td {
    vertical-align: middle;
}
#table-scroll {
    height:350px;
    overflow-y: auto;
    overflow-x: auto;
}
#vacation-scroll {
    height:127px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid white !important;
    background-color: black;
}

.vacation {
    margin-left: 70%;
    margin-top: -8.5%;
    min-width: 300px;
    max-width: 400px;
    height: 165px;
}